<header id="main-header">
    <div class="left-content">
        <h1>Aplikasi Data Negara</h1>
    </div>
    <nav class="right-content">
        <a id="menu-home" href="#country-section">Home</a>
        <a id="menu-about" href="#about-section">About Us</a>
        <a id="menu-about" href="#feedback-section">Contact Us</a>
        <a id="menu-logout" href="/logout">Logout</a>
    </nav>
    <script src="/js/nav.js"></script>
</header>